
src/apps/client/hspa/hspa-flutter/.dart_tool/
src/apps/client/hspa/hspa-flutter/build/
src/apps/client/hspa/hspa-flutter/.flutter-plugins-dependencies

src/apps/client/eua/eua-flutter/.dart_tool/
src/apps/client/eua/eua-flutter/build/
src/apps/client/eua/eua-flutter/.flutter-plugins
src/apps/client/eua/eua-flutter/.dart_tool/package_config.json
src/apps/client/eua/eua-flutter/.dart_tool/package_config.json
src/apps/client/eua/eua-flutter/.dart_tool/package_config_subset
src/apps/client/eua/eua-flutter/.dart_tool/version
src/apps/client/eua/eua-flutter/.flutter-plugins
src/apps/client/eua/eua-flutter/.packages
src/apps/client/eua/eua-flutter/.vscode/settings.json
src/apps/client/eua/eua-flutter/lib/generated_plugin_registrant.dart
