<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179299234068-ak3jh1ihu8hue6g5vppjefc3r8528o49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179299234068-ak3jh1ihu8hue6g5vppjefc3r8528o49</string>
	<key>API_KEY</key>
	<string>AIzaSyDp5zIaLzezMwXAZWAhTImR6hsfXBhZ5BM</string>
	<key>GCM_SENDER_ID</key>
	<string>179299234068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.abdm.gov.uhi.hspa</string>
	<key>PROJECT_ID</key>
	<string>abdm-uhi</string>
	<key>STORAGE_BUCKET</key>
	<string>abdm-uhi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179299234068:ios:704437d0fced22aea79201</string>
</dict>
</plist>